<div class="container">

  <div class="subtitle">
  <h1>Minhas Galerias</h1>
  </div>

  <mat-form-field appearance="standard">
    <mat-label>Filter <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
    </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Concessão Column -->
    <ng-container matColumnDef="concessao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Concessão  </th>
      <td mat-cell *matCellDef="let element"> {{element.concessao}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome  </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Concessão Column-->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>

    <!-- Data Column-->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data Atualização </th>
      <td mat-cell *matCellDef="let element"> {{element.data}} </td>
    </ng-container>

    <!-- Data Column-->
    <ng-container matColumnDef="elaborador">
      <th mat-header-cell *matHeaderCellDef> Elaborador </th>
      <td mat-cell *matCellDef="let element"> {{element.elaborador}} </td>
    </ng-container>

    <!-- Data Column-->
    <ng-container matColumnDef="qtdFotos">
      <th mat-header-cell *matHeaderCellDef> Número de Fotos </th>
      <td mat-cell *matCellDef="let element"> {{element.qtdFotos}} </td>
    </ng-container>




    <!-- View Column -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>
      <button  class="criar" mat-raised-button color="primary">Primary</button>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon matTooltip="Info about the action"
        class="ver" fontIcon="search"></mat-icon>
        <mat-icon matTooltip="Info about the action" class="edit" fontIcon="edit_square"></mat-icon>
        <mat-icon matTooltip="Info about the action" class="delete" fontIcon="delete"></mat-icon>


      </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!--Pagination-->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
  </mat-paginator>

</div>




